.footer_nav ul {
  display: flex;
}
.footer_nav ul li {
  list-style: none;
  flex: 1;
}
.footer_nav ul li a{
  text-decoration: none;
  color: black;
}
.footer_detail {
  line-height: 1.5;
}