.noti_container {
	position: absolute;
	top: 215px;
	left: 520px;
	text-align: center;
	font-size: 20px;
}

#h_div {
	position: relative;
	bottom: 40px;
	right: 265px;
	font-size: 30px;
	font-weight: bold;
}

thead>tr {
	background-color: lightgray;
}

tbody>tr {
	background-color: white;
}

#td:nth-child(1) {
	width: 70px;
}

#td:nth-child(2) {
	width: 75px;
}

#td:nth-child(3) {
	width: 445px;
}

.pageInfo {
	display: flex;
}

.pageInfo a {
	margin: 10px;
}

.pageInfo a:hover {
	color: aqua;
}

.pageInfo_wrap {
	position: RELATIVE;
	top: 15px;
	left: 236px;
}