body {
	margin: 0 auto;
	width:100%;
	min-width:1800px;
}
.container{
	margin: 0 auto;
	text-align: center;
}
span{
	color: red;
}
.cancel_detail_all{
	margin: 40px auto;
	border: 1px solid #ccc;
	padding: 0 20px 20px 20px;
	
}
.cancel_detail{
	color: blue;	
	position:relative;
	top:-35px;
	background-color:white;
	width:120px;
	margin-left:450px;	
}

/* 버튼 button */
.btn{
	width: 100px;
	height: 30px;
	vertical-align: middle;
	border: none;
	background-color: #ccc;
	cursor: pointer;
	border-radius: 8px;
	margin: 5px;
}