@font-face {
	font-family: 'abster';
	src: url(./font/abster-webfont.woff) format('woff');
}

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	margin: 0 auto;
	width:100%;
	min-width:1800px;
}

/*** �씠踰ㅽ듃,荑좏룿 �럹�씠吏� ***/

/* �씠踰ㅽ듃 */
.tt {
	font-size: 3.5em;
	text-align: center;
	margin-bottom: 50px;
}

.evt_list {
	display: flex;
}

.evt_img {
	width: 100%;
}

#evt {
	width: 200px;
	text-align: center;
}

#evt a {
	width: 200px;
}
/* 荑좏룿 */
.pp {
	font-size: 3.5em;
	text-align: center;
	margin: 50px 0;
}

.coup_img {
	width: 200px;
	height: 100px;
	margin: 30px 68px;
}

.evt_text {
	font-size: 20px;
}