@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	width:100%;
	min-width:1800px;
}

a {
	text-decoration: none;
	color: black;
}

/* 전체 묶음 div (사이드바 sidebar & 메인 main) */
.all {
	display: flex;
}

/* 마이페이지 사이드바 mypage side bar */
.myReser_sideBar {
	width: 180px;
	background-color: #9dccc5;
	padding: 20px;
}
/* 프로필 */
.profile {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
/* 예약, 보유쿠폰, 보유포인트 현황 */
ul li {
	display: flex;
}

ul li div {
	flex: 1;
	justify-content: space-between;
}

.click_point_coup {
	text-align: right;
}
/* side bar 사이드바 메뉴 */
.click_menu_all {
	margin-top: 20px;
}

.click_menu_all div {
	border-bottom: 1px solid #4c615e;
}

.click_menu_all div a {
	line-height: 5;
	padding-left: 5px;
}

/* my 예약 내용 */
.container {
	padding-top: 80px;
	padding-bottom: 100px;
	line-height: 2;
	width: 600px;
	margin: 0 70px;
}
/* 타이틀 title */
h1 {
	font-size: 40px;
}
/* top icon (상단 메뉴 아이콘) */
.reser_icon_all {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 50px;
}

.reser_icon_all .reser_icon_set {
	flex: 1;
}
/* content (예약 내용) */
.content_detail {
	margin-top: 20px;
}
/* 예약 상세1 head(아이콘 & 이름) */
.content_head {
	display: flex;
}

.content_head div {
	display: 1;
	margin: auto 0;
}

.content_head a {
	position: relative;
	bottom: 4px;
}

.ct {
	padding: 20px;
	margin-left: 10px;
}

.img_bg {
	width: 31px;
	height: 31px;
	border-radius: 50%;
	background: #ccc;
}
/* 예약 상세1 body(이미지 & 내용) */
.content_body {
	display: flex;
}

.content_body div {
	display: 1;
	margin: auto 0;
}