@font-face {
	font-family: 'abster';
	src: url(./font/abster-webfont.woff) format('woff');
}

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	color:black;
}

body {
	margin: 0 auto;
	width: 1050px;
}

h1 {
	text-align: center;
}
.cust_top {
	text-align: center;
	line-height: 2;
}
/*** 고객센터 ***/
.cust_search {
	margin: 30px auto;
	padding: 5px;
	width: 200px;
	display: flex;
	text-align: center;
	position: relative;
	left: -80px;
}
.cust_search div {
	flex: 1;
}
.cust_search input {
	width: 300px;
	height: 40px;
	line-height: 30px;
  border: 1px solid #dbdbdb;
	border-radius: 5px;
	margin: 20px;
}
.search_botton {
	border: none;
	background: none;
	cursor: pointer;
	position: relative;
	top: 25px;
}

/* 추천검색어 */
#cust_recommend {
	display: flex;
	justify-content: space-between;
}

#cust_recommend p {
	padding-right: 30px;	
}

.cust_tit {
	display: inline-block;
}

.cust_tit input {
	margin: 0px 15px;
	padding: 6px;
	background-color: rgb(53, 50, 50);
	color: white;
	font-weight: bold;
	border-radius: 8px;
	border: 0;
}

/* 자주 묻는 질문 탭 tab */
.container{
	width: 1050px;
	margin: 70px auto;
	text-align: center;
}
ul.tabs{
	margin: 50px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	margin: 40px;
}
ul.tabs li.current{
	/* background: #ededed; */
	color: #222;
}
.tab-content{
	display: none;
	/* background: #ededed; */
	padding: 15px;
	height: 250px;
}
.tab-content.current{
	display: inherit;
}

/* 자주 묻는 질문 내용 */
/* 자주 묻는 질문 내용(회원) */
.tab-1_content_all{
	display: flex;
}
.tab-1_content_all div{
	flex: 1;
	padding: 12px;
	overflow: hidden;
	text-overflow: ellipsis;

}
.tab-1_content_title {
	font-size: 20px;
	font-weight: 900;
}
.tab-1_content_answer {
	height: 80px;
}
/* 자주 묻는 질문 내용(주문/결제) */
.tab-2_content_all{
	display: flex;
}
.tab-2_content_all div{
	flex: 1;
	padding: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tab-2_content_title {
	font-size: 20px;
	font-weight: 900;
}
.tab-2_content_answer {
	height: 80px;
}
/* 자주 묻는 질문 내용(예약 취소) */
.tab-3_content_all{
	display: flex;
}
.tab-3_content_all div{
	flex: 1;
	padding: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tab-3_content_title {
	font-size: 20px;
	font-weight: 900;
}
.tab-3_content_answer {
	height: 80px;
}
/* 자주 묻는 질문 내용(이벤트/쿠폰) */
.tab-4_content_all{
	display: flex;
}
.tab-4_content_all div{
	flex: 1;
	padding: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tab-4_content_title {
	font-size: 20px;
	font-weight: 900;
}
.tab-4_content_answer {
	height: 80px;
}
/* tab 배경색 */
#tab-1 {
	background-color: pink;
	border-radius: 5px;
}
#tab-2 {
	background-color: palegoldenrod;
	border-radius: 5px;
}
#tab-3 {
	background-color: cornflowerblue;
	border-radius: 5px;
}
#tab-4 {
	background-color:  silver;
	border-radius: 5px;
}
/* tab content */
.tab-1_content {
	width: 200px;
	height: 200px;
	background-color: #fff;
	margin: 10px;
	border-radius: 10px;
}
.tab-2_content {
	width: 200px;
	height: 200px;
	background-color: floralwhite;
	margin: 10px;
	border-radius: 10px;
}
.tab-3_content {
	width: 200px;
	height: 200px;
	background-color: #fff;
	margin: 10px;
	border-radius: 10px;
}
.tab-4_content {
	width: 200px;
	height: 200px;
	background-color: floralwhite;
	margin: 10px;
	border-radius: 10px;
}

/*
#qes_container {
	margin-bottom: 60px;
}

#qes_container img {
	border-radius: 70%;
	overflow: hidden;
}

#qes_list {
	text-align: center;
}

#qes_list div {
	display: inline-block;
	margin: 10px 50px;

}
#re_qes{
	font-size: 30px;
	font-weight: bold;
	margin: 30px 0 40px 150px;
}
#qes_list div p {
	text-align: center;
}

#qes_backcontent {
	background-color: gray;
	text-align: center;
	margin-bottom: 60px;
}

.qes_content {
	display: inline-block;
	justify-content: space-between;
	padding: 15px;
	background-color: white;
	width: 200px;
	height: 200px;
	margin: 20px;
}

.cot_tit {
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 10px;
}

.qes_arrow {
	display: inline-block;
	font-size: 50px;
} */

.clicked_menu #img1{
	background-color: pink;
	border-radius: 50%;
}

.clicked_menu #img2{
	background-color: palegoldenrod;
	border-radius: 50%;
}

.clicked_menu #img3{
	background-color: cornflowerblue;
	border-radius: 50%;
}

.clicked_menu #img4{
	background-color: silver;
	border-radius: 50%;
}

/* 문의하기 */
.q_container p{
color:white;
font-weight: bold;
font-size: 1.3em;
}
.qes_tit_icon {
	margin-left: 160px;
	margin-bottom: 20px;
	text-align: left;
	width: fit-content;
}

.qes_box {
	display: flex;
	margin-bottom: 60px;
}

#qes_mem_box1 {
	background-color: rgb(88, 84, 84);
	padding: 100px;
	border-radius: 5px;
}

.qes_mem_box2 {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#qes_mem_scont {
	background-color: rgb(88, 84, 84);
	padding: 20px;
	text-align: center;
	border-radius: 5px;
}

#qes_nmem_scont1 {
	background-color: rgb(88, 84, 84);
	padding: 20px;
	text-align: center;
	border-radius: 5px;
}

/*고객센터 이용안내*/
.qes_info {
	text-align: center;
}

#qes_tit2 {
	text-align: center;
	margin-top: 150px;
}

.qes_infoCon {
	margin-top: 30px;
	text-align: center;
	font-size: 20px;
	width: 550px;
	padding: 50px;
	background-color: lightgray;
	border-radius: 10px;
}

.qes_stit {
	font-weight: bolder;
	font-size: 20px;
	margin-bottom: 10px;
}

.qes_con {
	margin-bottom: 50px;
}

.qes_con1 {
	padding-bottom: 15px;
}


